<h1> Create a new Alien </h1>

<form action="/spaceships/<%= params[:spaceship_id] %>/aliens" method="POST">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <label>
    Name:
    <input type="text" name="name" />
  </label>

  <label>
    Appendages
    <input type="integer" name="appendages" />
  </label>

  <label>
    Origin
    <input type="string" name="origin" />
  </label>

  <label>
    Stuff
    <input type="text" name="stuff" />
  </label>

  <label>
    weakness
    <input type="text" name="weakness" />
  </label>

  <label>
    Strength
    <input type="text" name="strength" />
  </label>


  <button>Create your alien</button>
</form>