<h1> Please add a new picture here </h1>

<form action="/photos" method="POST">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token%>"/>
  <label>
    Author:
    <input type="text" name="author" />
  </label>

  <label>
    Photo URL:
    <input type="text" name="photo_url" />
  </label>

  <label>
    Date photo taken:
  <input type="text" name="date_taken" />
  </label>

  <button>Add this picture</button>
</form>