<h1>This photo belongs to <%= @photos.author %><h1>
  <br/>
  <img src="<%= @photos.photo_url %>"/>
  <br/>
  <p>And he created it on <%= @photos.date_taken %></p>
  <h3><a href="/photos">You can go back to the main page here</a></h3>