
  <ul class="board">
  </ul>

    <button>RESET THIS BITCH</button>
    <h2 class="game-results">X: <%= Game.where(won: "x").length %></h2>
    <h2 class="game-results">O: <%= Game.where(won: "o").length %></h2>
    <h2 class="game-results">Tie:<%= Game.where(won: "tie").length %></h2>
  


  <script type="text/javascript">
    var game = new Game();

    document.querySelector('ul').addEventListener('click', function(e){
      for(i = 0; i <e.target.parentElement.children.length; i++) {
        if(e.target === e.target.parentElement.children[i]) {
           game.mark(game.turn, {row: parseInt(i/3), column: i%3});
           render(); 
        };
      };
    });

    

    function render(){
      var board = document.querySelector("ul.board");

      board.innerHTML = "";

      for (var i = 0; i < 9; i++) {
        var li = document.createElement("li");
        li.className = game.board[parseInt(i/3)][i%3];
        board.appendChild(li);
      };

      if(game.checkWinner() !== undefined) {
        var winners = document.querySelectorAll("."+ game.checkWinner());
        for(i = 0; i < winners.length; i++){
          winners[i].classList.add("winning");
        };
      };
      if (game.gameOver()){
        var result;
        if(game.checkWinner() == undefined){
          result = "tie";
        } else {
          result = game.checkWinner();
        }
        $.post( "/games", {won: (result) });
      };
    };


    $("button").on("click", function(){
      var game = new Game;
      render();
    });
      // var board = document.querySelector("ul.board");
      // board.innerHTML = "";
    //   render();
    // });
    // var board = document.querySelector("ul.board");
    // var button = document.querySelector("button");
    // button.addEventListener("click", window.location.reload())
    // ("button").addEventListener("click", render());
    render();
    
  </script>