<h2>Add a trailer</h2>
<form action="/movies/<%=@movie.id%>/trailers" method="POST">
  <input name="authenticity_token" type="hidden" value="<%=form_authenticity_token%>">
  <label>
    Title:
    <input type="text" name="title">
  </label><br>
  <label>
    Embed URL:
    <input type="text" name="embed_url">
  </label><br>
  <button>Add this trailer</button>
</form>
