<h1> Add a puppy :) </h1>

<form action="/dogs" method="POST">
  <input name="authenticity_token" type="hidden" value="<%=form_authenticity_token%>"/>
  <label>
    Name:
    <input type="text" name="name"/>
  </label>

  <label>
    Breed:
    <input type= "text" name="breed"/> 
  </label>

  <label>
    Age:
    <input type="text" name="age"/>
  </label>

  <button>Add a puppy!!</button>
</form>

