<div class="top"><h1> THIS IS YOUR PIC, YO </h1>
<a  class="back"  href="/pics">Go Back Home</a></div><br><br>

  <a href="http://instagram.com/kevinmcalear" target="_blank"><img id="big" src="<%= @pic.photo_url %>"/></a>
<p>Author: <%= @pic.author %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Time Taken: <%= @pic.date_taken %></p>
