<!-- Show one clown's profile -->

<h1><%= @clown.name %></h1>

<p><%= @clown.name %> is a clown! And it's special talent is <%= @clown.talent %></p>

<a href="/clowns/<%= @clown.id %>/edit">Edit this clown</a>