<!doctype html>

<html>
  <head>
    <title>Personal Profile</title>
    <meta charset='utf-8' />

    <link href='stylesheets/normalize.css' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <%= yield %>
  </body>
</html>