<h1>Create a new Spaceship</h1>

<form action="/spaceships" method="POST">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
  <label>
    Name: 
  <input type="text" name="name">
  </label>
  
  <label>
    Capacity:
  <input type="integer" name="capacity">
  </label>

  <label>
    Origin:
  <input type="text" name="origin">
</label>

  <label>
    Species Allowed:
  <input type="text" name="species_allowed">
</label>

  <label>
    Photo:
  <input type="text" name="photo_url">
</label>

  <label>
    Purpose:
  <input type="text" name="purpose">
</label>

  <button>Create Spaceship</button>

</form>