<h1>All Trailers</h1>


  <% @trailers.each do |trailer| %>

<iframe id="ytplayer" type="text/html" width="640" height="390"
  src="<%=trailer.embed_url %>"
  frameborder="0"/> </iframe>

  <%end%>


