body{
  background-color: #d6d6d6;
  color: #000000;
  font-family: Georgia;
}
#header_image{
  background-image: url("../images/background.jpg");
  background-repeat: repeat-x;
}

#header_logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -200px;
}

.post-wrapper{
  text-align: center;
  float: left;
  width: 68%;
  background-color: white;
}

.post-content{
  text-align: left;
  padding-left: 2em;
  padding-right: 2em;
}

.post-footer{
  text-align: left;
  padding-left: 2em;
  padding-right: 2em;
}

h3{
  text-align: left;
  padding-left: 1.6em;
  padding-right: 1.6em;
}

.dotted-line{
  border-top: 1px dotted;
  width: 90%;
}

.solid-line{
  width: 90%;
}


.post-image{
  width: 90%;
}

.link{
  color: #cc6633;
  font-weight: bold;
}

.side-bar{
  width: 30%;
  float: right;
  background-color: white;
  font-weight: bold;
  font-size: 12px;
  padding-top: 1em;
  padding-bottom: 4em;
}

.ad{
  display: block;
  padding: 1em;
  border-top: 50px;
  margin: auto;
}

.body-wrapper{
  position: absolute;
  margin: 250px;
}

.social-media{
  position: absolute;
  text-align: center;
  left: 50px;
  bottom:0px;
  height:30px;
  width:100%;
  margin-bottom: -50px;
}



ul{
  list-style-type: none;
  padding-left: 15px;
}

li{
  padding: 0.2em;
}