<h1>Here are your super sweet movies!</h1>

<ul>
<% @movies.each do |movie|%>
<li><a href="/movies/<%= movie.id %>"><%= movie.title %></a></li>
<% end %>

</ul>
<a href="/movies/new" >Add a movie!</a>