<h1>These are all the Aliens in <%= @spaceship.name %><h1>
  <ul>
  <% @aliens.each do |alien| %>
  <li><a href="/spaceships/<%= @spaceship.id %>/aliens/<%= alien.id %>"><%= alien.name %></a></li>
  <% end %>
  </ul>