
  <header>
  <h1><%= params[:name]  %> is (not) my name and web stylin is (not) my game!</h2> 
  <h2>Check out this semantically coherent pile of Internet right here:</h2>
  </header>

  <div id="basic-info">
  <img src="http://www.stojo.com/images/Grabs/Colossus%20Of%20New%20York%2006.jpg" alt="a pic of me" width="300" />

  
  <%= @name %>
  <p>birthdate: 26 February 1989<br/>
  hometown: Hackensack, NJ<br/>


  <p>pets: 
  <ul>
  <li>Tommy</li>
  <li>Dot</li>
  <li>Jack</li>
  <li>Bing</li>
  <li>Buckley Tenenbaum</li>
  <li>Betty</li>
  <li>Lucy Liu</li>
  <li>Jimmy James</li>
  <li>Lily</li>
  <li>Weezer</li>
  <li>Tim</li>
  <li>Henry Miller</li>
  </ul>

  <p>favorite color: Green<p>


  </div> <!-- close basic-info div -->

  <div id="statement">This page has been created for blah blah blah, and if I just hit lorem and then tab it--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, accusantium, ad nesciunt facilis esse eaque ex nam temporibus assumenda deserunt nobis fugiat impedit repellendus maxime est quod cupiditate! Necessitatibus, inventore!</div>

<nav>
  <ul>
    <li><a href="name">Info Page: Info Page: Name</a></li>
    <li><a href="http://www.hackensack.org/">Info Page: Hometown</a></li>
    <li><a href="">Info Page: Pets</a></li>
    <li><a href="">Info Page: Color</a></li>
  </ul>
</nav>

<footer>Copyright Zach Brady</footer>