<form action="/instas" method="POST">
<input name="authenticity_token" type="hidden" value="<%=form_authenticity_token%>"/>

<label>
  Author:
  <input type="text" name="author">
</label>

<label>
  Date:
  <input type="date" name="date_taken">
</label>

<label>
  Photo URL:
  <input type="text" name="photo_url">
</label>

<button>Insta!</button>
</form>