<h1>Enter a new trailer!</h1>

<div class="center">
<form action="/movies/<%= params[:movie_id] %>/trailers" method="POST">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
  <label>
    Title: 
  <input type="text" name="title">
  </label>
  
  <label>
    YouTube Video ID:
  <input type="text" name="embed_url">
  </label>

  <button>Add Trailer</button>

</form>
</div>

