<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pair Programming Bot</title>
  <link rel="stylesheet" type="text/css" href="/normalize.css">
</head>

<body>

  <h1>I am Pair Programming Bot</h1>

  <%= @question %><br>
  <br>
  
  <%= yield %>

</body>
</html>