<h1>Spaceships!</h1>

<ul>
<% @spaceships.each do |spaceship| %>
    <li><a href="/spaceships/<%= spaceship.id %>"><%=spaceship.name %></a></li>
  <% end %>

</ul>

<p><a href="/spaceships/new">Create a Spaceship!</a></p>