<h1><%= @student.name %></h1>
<h2><%= @student.house.name %></h2>
<div class="student">
  <img src="<%= @student.img_url %>" />
</div>
<br/>
<%= link_to "Edit Magician", edit_student_path(@student) %>
