<!-- Show list of clowns -->
<a href='/clowns/new'>Create a new clown</a>

<h2> List of Clowns </h2>
<ul>
  <% @clowns.each do |clown| %>
    <li><a href='/clowns/<%=clown.id%>'><%= clown.name %></a></li>
  <% end %>
</ul>

