<h1>CREATE NEW SPACESHIP</h1>

<form action="/spaceships" method="POST">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"
  <label>Name:</label>
  <input type="text" name="name">
  <label>Capacity:</label>
  <input type="integer" name="capacity">
  <label>Origin:</label>
  <input type="text" name="origin">
  <label>Species allowed:</label>
  <input type="text" name="species_allowed">
  <label>Photo URL:</label>
  <input type="text" name="photo_url">
  <label>Purpose:</label>
  <input type="text" name="purpose">
  <button>INCEPT SPACESHIP</button>
</form>