<h1>Todos</h1>

<fieldset>
  <form>
    <label>Todo: </label>
    <input type='text' name='task' id='input-task'></input>
    <input type='submit' value='add todo' id='submit-task'>

  </form>
</fieldset>

<ul id='tasks-list'>

</ul>
