  <h1>Hello I'm The Movies Index</h1>
<a href="/movies/new">Add A Movie</a>
<ul>
  <% @movies.each do |movie| %>
    <li>
      <img src="<%= movie.poster_url %>">
      <a href="/movies/<%=movie.id %>"><%= movie.name %></a>
    </li>
  <% end %>
</ul>