<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Clowns</title>
  <link rel="stylesheet" type="text/css" href="normalize.css">
</head>
<body>
  <h1> Pair Programming Bot</h1>
  <%= yield %>
</body>
</html>