<h2>Characters</h2>

<% @characters.each do |character| %>
<li><a href="/movies/<%=character.movie_id%>/characters/<%=character.id%>"><%=character.name%></a></li>
<%end%>

<a href="characters/new">Add a character to this movie</a><br>
<a href="/movies">Back to movies</a>