<!DOCTYPE html>
<html>
<head>
  <title>TrailerDb</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header><a href="/movies">Home</a>
<a href="/movies/new">New Movie</a></header>
<%= yield %>

</body>
</html>
