<form action="/movies/<%= @movie.id %>" method="POST">
  <input type="hidden" name="_method" value="PUT" />

  <label>
    Title:
    <input type="text" name="title" value="<%= @movie.title %>" />
  </label>

  <br/>

  <label>
    Year:
    <input type="text" name="year" value="<%= @movie.year %>" />
  </label>

  <br/>

  <label>
    Poster URL:
    <input type="url" name="poster_url" value="<%= @movie.poster_url %>" />
  </label>

  <br/>


  <button>Update Movie</button>
</form>