<form action="/movies" method="POST">

  <label>
    Title:
    <input type="text" name="title" />
  </label>

  <br/>

  <label>
    Year:
    <input type="text" name="year" />
  </label>

  <br/>

  <label>
    Poster URL:
    <input type="url" name="poster_url" />
  </label>

  <br/>


  <button>Add Movie</button>
</form>