header{
  display: inline-block;
  width: 100%;
  margin: -10px;
}

div.logo_flag{
  display: inline-block;
  position: relative;
  background-color: #bb141a;
  color: white;
  width: 160px;
  height: 70px;
  text-align: right;
  padding-right: 15px;
}

span{
  display: inline-block;
  position: relative;
  color: #949699;
  font: 1em Helvetica, Arial, Verdana, sans-serif;
  vertical-align: middle;
  width: 80px;
}

#me{
  position: relative;
  margin-top: 10px;
  margin-left: -10px;
  width: 100%;
  border-top: solid 1px;
  border-color: #949699;
}