<h1> Create a new Alien!</h1>

<form action="spaceships/<%= params[spaceship_id]%>/aliens", method='post'>
<input name='authenticity_token' type='hidden' value='<%= form_authenticity_token %>' />
<label>
  Name:
  <input type='text' name='name' />
</label>

<label>
  Appendages:
  <input type='integer' name='appendages' />
</label>

<label>
  Organic Substrate:
  <input type='text' name='organic_substrate' />
</label>

<label>
  Weakness:
  <input type='text' name='weakness' />
</label>

<label>
  Strength:
  <input type='text' name='strength' />
</label>

<label>
  Spaceship:
  <input type='text' name='spaceship_id' />
</label>
<div>
<button>Click to create the Alien!</button>
</div>
</form>