<h1>Best movies ever.</h1>

<button><a href="movies/new">Add a Movie</a></button>

<ul>
  <% @movies.each do |movie| %>
    <li>
      <img src="<%= movie.poster_url %>">
      <p><a href="/movies/<%= movie.id %>"><%= movie.title %></p>
    </li>
  <% end %>
</ul>