<!doctype html>
<html>
<head>
  <title>Nicholas Bundy</title>
  <meta charset="utf-8" />
  <link href="stylesheets/normalize.css" rel="stylesheet" type="text/css">
</head>

<body>
  <!-- This will be different for each page-->
  <%= yield %>
</body>
</html>