  <header>
    <h1>Welcome To <%= params[:name] %>'s Profile</h1>
  </header>

  <div id="basic_info" class="personal-info">
    <img src="pictures/picture-77.jpg"/>
    <p>
    Nicholas Bundy</br>
    Birthdate: September 4, 1982</br>
    Hometown: Montrose, CO
    </p>
  
    <p>Pets:
      <ul>
        <li>Byron</li>
        <li>Luke</li>
      </ul>
    </p>

    Favorite Color: Blue
  </div>

    <nav>
    <a href="name.html">Info Page: Name</a></br>
    <a href="">Info Page: Hometown</a></br>
    <a href="">Info Page: Pets</a></br>
    <a href="">Info Page: Color</a></br>
    </nav>
 