<h3>Upload a new pic!</h3>

<form action="/entries" method="POST">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
  <label>
    Author:
    <input type="text" name="author">
  </label>

  <label>
    Photo URL:
    <input type="text" name="photo_url">
  </label>

  <label>
    Date Taken:
    <input type="date" name="date_taken">
  </label>

  <button>Upload!</button>
</form>