header {
  width: 100%;
  border: 1px solid black;
  display: block;
}

#logo-flag {
  color: #bb141a;
  display: inline-block;
  padding: 1em;
  border: 1px solid black;
}

#real-name {
  color: #949699;
  display: inline-block;
  border: 1px solid black;
}

#logo-flag h1 {
  font-family: Verdana, sans-serif;
  background-color: #bb141a;
  background-image: url(http://danielwaldron.com/images/logo.png);
  background-repeat: no-repeat;
  background-position: 50px;
  padding-right: 60px;
}

#hero {
  background-image: url(http://danielwaldron.com/images/me.jpg);
  background-size: cover;
  height: 400px;
  background-position: 100px;
}