button {
	background: #0898bb;
}

#circle {
	background: red;
	border-radius: 100px;
	width: 200px;
	height: 200px;
}

#circle2 {
	background: purple;
	border-radius: 100px;
	width: 500px;
	height: 500px;
}