<header>
  <h1><%= @name %>
    Profile Page</h1>
  <h2>Welcome to the profile page!</h2>
</header>

<div id="basic-info" class="personal-info">
  <img src = "http://diveintohtml5.info/i/openclipart.org_johnny_automatic_dog_on_chair.png" width = "300" height = "250" />
  
  <p><%= @name %>
    John Hinrichs<br/>
    DOB: 8/11/83<br/>
    Home: NYC<br/>
  </p>

  <p>
    Pets:<br/>
    <ul>
      <li>Dog Scoobs</li>
      <li>Cat Flufster</li><br/>
    </ul>
  
    Favorite color: Blue<br/>
  </p>

</div>
  
<div id="statement" class="personal-info">
  My manifesto here
</div>

<a href = "name">Info Page: Name</a><br/>
<a href = "">Info Page: Hometown</a><br/>
<a href = "">Info Page: Pets</a><br/>
<a href = "">Info Page: Color</a><br/>

    