

      <header>

        <h1><%= params[:name] %>
          Profile Page</h1>
        <h2>Why hello there!</h2>
      </header>

      <div id='basic-info' class='personal-info'>

        <img src=' www.' /> 
        
          <p><%= @name  %><br/>
          April 27, 1983<br/>
          Brooklyn, NY, <br/>
          Favorite Color: Green<br/>
        </p>
      </div>


      <div id ='statement' class='personal-info'>

              <p>I enjoy food and music.  Both are important.  </p>

      </div>

      <nav>
        <a href='/name'> Info Page: Name</a>
        <a href=' '> Info Page: Hometown</a>
      </nav>

      <footer>Made by Steve</footer>