<!-- new.html.erb -->

<header><h1> Upload Photo </h1></h1>
<a href="/entries"> Photo Stream </a>
</header> 

<form action="/entries" method="POST">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token%>" />

    <div id="entry_form">
    <label>
      Author:
      <input type="text" name="author" /> </label>

      <label>
        Photo URL:
        <input type="url" name="photo_url" /></label>

      <label>
        Date Taken:
        <input type="date" name="date_taken" /></label>

      <button> Submit </button>


</form>
