<!-- show.html.erb -->
<header>
  <ul>
        <li>
            <a href="/entries"> All Photos</a>
          </li>
        
        <li>
            <a href="/entries/new">Upload Photo</a>
          </li>
  </ul>   
</header>   
<h1> <%= @entry.author %>'s Photos </h1>
<ul>
    <li> <img src="<%= @entry.photo_url %>"> </li>
    <li>Date taken: <%= @entry.date_taken %></li>

