<!-- new.html.erb -->
<header><ul>
  <li><a href="/movies"> All Movies </a></li>
</ul></header>

<h1> Add a Trailer for <%= @movie.title %> </h2>

  <form action="/movies/<%= params[:movie_id] %>/trailers" method="POST">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />

  <label>Title:
    <input type="text" name="title" /> 
  </label>

    <label>Embed URL:
      <input type="url" name="embed_url" />
    </label>

      <button>Submit</button>
    </form>