
    <h1><%= params[:name] %></h1>

    <div>
      <img src='http://www.theaterhopper.com/images/front_page/zombie_spider_man.jpg'>
      <ul>
        <li>prenom: Granger</li>
        <li>surname: Abuhoff</li>
        <li>Birthdate 11/16/1983</li>
        <li>Home: jersey</li>
      </ul>
    </div>

    <div>
      <p>Let's begin.</p>
    </div>

    <footer>made by Granger Abuhoff</footer>
 