<!doctype html>

<html>
  <head>
    <title>Michael K. Wagner</title>
    <meta charset="utf-8"/>
  
    <link href="normalize.css" rel="stylesheet" type="text/css">
  </head>cp
  <body>
  <footer>Made in New York City</footer>
  </body>
</html>