<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Etan's Internet</title>
  </head>
  <header>
    <h2>WELCOME TO ETAN'S WORLD. THERE ARE A LOT OF AMAZING THINGS HERE. YOU ARE NOW ONE OF THEM.</h2>
  </header>
  <div>
    <h3>Basic Information:</h3>
    <p>Born and raised in New York City. Loves food, technology and puppies. Currently residing in San Francisco.</p>
  </div>

  <div>
    <h3>Statement:</h3>
    <img src="http://www.theage.com.au/ffximage/2007/03/02/zoo_narrowweb__300x405,0.jpg"/><p> My name is Etan Berkowitz. Born and raised in New York City. Loves food, technology and puppies. Currently residing in San Francisco. Pets I have:</p>
    <ol>
      <li>My wild side.</li>
      <li>I don't have one, I'm living with my parents.</li>
    </ol>
  </div>
  <footer>
    <h3>Statement</h3>
    <p><i>The best and most beautiful things in the world cannot be seen or even touched - they must be felt with the heart.</i> - Helen Keller</p>
  </footer>
</html>