header {
  margin-top: -17px;
  height: 250px;
  background-color: rgb(62, 97, 134);
  position: relative;
  display: block;
  z-index: 0;
}

header.header {
  float: right;
}

.header ul {
  float: right;
  padding-right: 300px;
  padding-top: 70px;
}

header li {
  display: inline;
  padding-left: 60px;
}

.phone {
  position: absolute;
  display: inline-block;
  margin-top: -170px;
  padding-left: 280px;
  z-index: 1;
}

.blurb {
  /*width: 430px;*/
  width: 31%;
  float: right;
  position: absolute;
  display: block;
  margin-top: -70px;
  /*padding-left: 690px;*/
  /*padding-right: 320px;*/
  background: white;
  border-radius: 5px;
  z-index: 1;
}














li {
  list-style-type: none;
}