h1 {
  font-family: Helvetica, Geneva, Arial,SunSans-Regular, sans-serif;
   }

.view{
  float: left;
}

.action { 
  display: inline-block;
  padding-left: 21px;
}

.action2{
  position: relative;
  left: 21px; 
}

.separator{
  clear: both;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 25px;
}

table, td{
  border: 1px solid black; 
  border-collapse: collapse;
  }

th{
  background-color: #DCDDD8;
  }

form {
  background: linear-gradient(top,#fff,#f8f8f8);
}

label {
  float: left;
  width: 120px;
  font-weight: bold;
  display: block;
}

input {
  padding: 2px 5px;
  border-radius: 5px;
}

legend {
  font-size: 30px;
  font-family: Helvetica, Geneva, Arial,SunSans-Regular, sans-serif;
}
