<!doctype HTML>
<html>
<head>
  <title>
    Programming Bot
  </title>
  <meta charset='utf-8' />
  <link href='/normalize.css' rel='stylesheet' type='text/css'>
</head>
<body>
  <%= yield%>
</body>
</html>