<h1>ALL THE SPACESHIPS</h1>
<ul>
<% @spaceships.each do |spaceship| %>
  <li><a href="/spaceships/<%= spaceship.id %>"><%= spaceship.name %></a></li>
  <% end %>
</ul>

<a href="/spaceships/new">Create a new spaceship</a>
