<html>
  <head>
    <title>Personal Profile</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css">
  </head>

  <body>

  <%= yield %>

  </body>

  </html>