<h1>Todos!</h1>
<form>
  <fieldset>
    <legend>New Todo</legend>
    <label>
      Task
      <input type="text" name="task" />
    </label>
    <button>Save</button>
  </fieldset>
</form>

<ul class="todos">
</ul>