<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bot Page</title>
  <link rel="stylesheet" type="text/css" href="/normalize.css">
  <link rel="stylesheet" type="test/css" href='/bot.css'>
</head>
<body>
  <%= yield %>
</body>
</html>