@font-face {
	font-family: 'anyoldicon';
	src:url('fonts/anyoldicon/anyoldicon.eot');
	src:url('fonts/anyoldicon/anyoldicon.eot?#iefix') format('embedded-opentype'),
		url('fonts/anyoldicon/anyoldicon.woff') format('woff'),
		url('fonts/anyoldicon/anyoldicon.ttf') format('truetype'),
		url('fonts/anyoldicon/anyoldicon.svg#anyoldicon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'airstreamregular';
    src: url('fonts/airstream/Airstream-webfont.eot');
    src: url('fonts/airstream/Airstream-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/airstream/Airstream-webfont.woff') format('woff'),
         url('fonts/airstream/Airstream-webfont.ttf') format('truetype'),
         url('fonts/airstream/Airstream-webfont.svg#airstreamregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* General grid styles */
.cbp-ig-grid {
	list-style: none;
	padding: 0 0 50px 0;
	margin: 0;
}

/* Clear floats */
.cbp-ig-grid:before, 
.cbp-ig-grid:after { 
	content: " "; 
	display: table; 
}

.cbp-ig-grid:after { 
	clear: both; 
}

/* grid item */
.cbp-ig-grid li {
	width: 33%;
	float: left;
	height: 420px;
	text-align: center;
	border-top: 1px solid #ddd;
}

/* using a combination of borders and box shadows to control the grid lines */
.cbp-ig-grid li:nth-child(-n+3){
	border-top: none;
}

.cbp-ig-grid li:nth-child(3n-1),
.cbp-ig-grid li:nth-child(3n-2) {
	box-shadow: 1px 0 0 #ddd;
}

/* anchor style */
.cbp-ig-grid li > a {
	display: block;
	height: 100%;
	color: #55646D;
	-webkit-transition: background 0.2s;
	-moz-transition: background 0.2s;
	transition: background 0.2s;
}


/* the icon with pseudo class for icon font */
.cbp-ig-icon {
	padding: 30px 0 0 0;
	display: block;
	-webkit-transition: -webkit-transform 0.2s;
	transition: -moz-transform 0.2s;
	transition: transform 0.2s;
}

/* how I generate all of my icons */

.pavitra-s-tandon-only-goodness, .ian-yates-y-fronts, .pavitra-s-tandon-chat-for-lovers, .muhamad-bahrul-ulum-log-out, .muhamad-bahrul-ulum-log-in, .justin-skull-ribbon, .justin-burns-skull, .justin-burns-skull-badge, .designmodo-settings, .designmodo-location, .designmodo-like, .cole-townsend-pencil, .cole-townsend-check, .cole-townsend-chat, .ian-yates-porridge, .ian-yates-mr-whippy, .ian-yates-milk, .aleks-dorohovich-rocket, .vincent-gschwindemann-sun, .vectortuts-pirate-panda, .sanjit-saha-afro, .samuel-sosina-command-line, .quin-robinson-casual-shoe, .michael-howarth-tardis, .kenneth-bielinski-timer, .juan-ortiz-zaforas-plug-f-female, .juan-ortiz-zaforas-plug-c-female, .juan-gomez-alzaga-rocking-horse, .juan-gomez-alzaga-paint-brush, .juan-gomez-alzaga-leaf, .juan-gomez-alzaga-bird, .jeffrey-herrera-beer-mug, .jack-rugile-anchor, .ilias-ismanalijev-batman, .corinne-ducusin-doumbek, .aleks-dorohovich-triforce, .steve-debeus-farm, .patrik-larsson-pokemon, .patrik-larsson-pakman, .ordog-zoltan-canon, .johana-barretto-kitty, .johana-barretto-kitty-stripy, .jj-moi-manga-poison, .jj-moi-manga-eye, .jj-moi-kneel, .dom-waters-speedo, .dom-waters-knife, .derek-mui-tie, .derek-mui-invader, .darren-reay-telephone-box, .darren-reay-pen-nib, .arno-hattingh-park, .anton-boshoff-headset, .joshua-barker-landscape, .joshua-barker-house, .jory-raphael-cart, .johan-manuel-hernandez-record-player, .danis-lou-joystick, .christina-pedersen-walkman, .christina-pedersen-cassette, .chris-spittles-unpinned, .chris-spittles-save, .chris-spittles-pinned, .chris-spittles-health, .chris-spittles-geo-location, .cesgra-globe, .matt-hakes-spectacles, .matt-hakes-moustache, .ian-yates-creative-commons {
	font-family: 'any-old-icon';
	font-size: 14em;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.pavitra-s-tandon-only-goodness:before {
	content: "\e000";
}
.ian-yates-y-fronts:before {
	content: "\e001";
}
.pavitra-s-tandon-chat-for-lovers:before {
	content: "\e002";
}
.muhamad-bahrul-ulum-log-out:before {
	content: "\e003";
}
.muhamad-bahrul-ulum-log-in:before {
	content: "\e004";
}
.justin-skull-ribbon:before {
	content: "\e005";
}
.justin-burns-skull:before {
	content: "\e006";
}
.justin-burns-skull-badge:before {
	content: "\e007";
}
.designmodo-settings:before {
	content: "\e008";
}
.designmodo-location:before {
	content: "\e009";
}
.designmodo-like:before {
	content: "\e00a";
}
.cole-townsend-pencil:before {
	content: "\e00b";
}
.cole-townsend-check:before {
	content: "\e00c";
}
.cole-townsend-chat:before {
	content: "\e00d";
}
.ian-yates-porridge:before {
	content: "\e00e";
}
.ian-yates-mr-whippy:before {
	content: "\e00f";
}
.ian-yates-milk:before {
	content: "\e010";
}
.aleks-dorohovich-rocket:before {
	content: "\e011";
}
.vincent-gschwindemann-sun:before {
	content: "\e012";
}
.vectortuts-pirate-panda:before {
	content: "\e013";
}
.sanjit-saha-afro:before {
	content: "\e014";
}
.samuel-sosina-command-line:before {
	content: "\e015";
}
.quin-robinson-casual-shoe:before {
	content: "\e016";
}
.michael-howarth-tardis:before {
	content: "\e017";
}
.kenneth-bielinski-timer:before {
	content: "\e018";
}
.juan-ortiz-zaforas-plug-f-female:before {
	content: "\e019";
}
.juan-ortiz-zaforas-plug-c-female:before {
	content: "\e01a";
}
.juan-gomez-alzaga-rocking-horse:before {
	content: "\e01b";
}
.juan-gomez-alzaga-paint-brush:before {
	content: "\e01c";
}
.juan-gomez-alzaga-leaf:before {
	content: "\e01d";
}
.juan-gomez-alzaga-bird:before {
	content: "\e01e";
}
.jeffrey-herrera-beer-mug:before {
	content: "\e01f";
}
.jack-rugile-anchor:before {
	content: "\e020";
}
.ilias-ismanalijev-batman:before {
	content: "\e021";
}
.corinne-ducusin-doumbek:before {
	content: "\e022";
}
.aleks-dorohovich-triforce:before {
	content: "\e023";
}
.steve-debeus-farm:before {
	content: "\e024";
}
.patrik-larsson-pokemon:before {
	content: "\e025";
}
.patrik-larsson-pakman:before {
	content: "\e026";
}
.ordog-zoltan-canon:before {
	content: "\e027";
}
.johana-barretto-kitty:before {
	content: "\e028";
}
.johana-barretto-kitty-stripy:before {
	content: "\e029";
}
.jj-moi-manga-poison:before {
	content: "\e02a";
}
.jj-moi-manga-eye:before {
	content: "\e02b";
}
.jj-moi-kneel:before {
	content: "\e02c";
}
.dom-waters-speedo:before {
	content: "\e02d";
}
.dom-waters-knife:before {
	content: "\e02e";
}
.derek-mui-tie:before {
	content: "\e02f";
}
.derek-mui-invader:before {
	content: "\e030";
}
.darren-reay-telephone-box:before {
	content: "\e031";
}
.darren-reay-pen-nib:before {
	content: "\e032";
}
.arno-hattingh-park:before {
	content: "\e033";
}
.anton-boshoff-headset:before {
	content: "\e034";
}
.joshua-barker-landscape:before {
	content: "\e035";
}
.joshua-barker-house:before {
	content: "\e036";
}
.jory-raphael-cart:before {
	content: "\e037";
}
.johan-manuel-hernandez-record-player:before {
	content: "\e038";
}
.danis-lou-joystick:before {
	content: "\e039";
}
.christina-pedersen-walkman:before {
	content: "\e03a";
}
.christina-pedersen-cassette:before {
	content: "\e03b";
}
.chris-spittles-unpinned:before {
	content: "\e03c";
}
.chris-spittles-save:before {
	content: "\e03d";
}
.chris-spittles-pinned:before {
	content: "\e03e";
}
.chris-spittles-health:before {
	content: "\e03f";
}
.chris-spittles-geo-location:before {
	content: "\e040";
}
.cesgra-globe:before {
	content: "\e041";
}
.matt-hakes-spectacles:before {
	content: "\e042";
}
.matt-hakes-moustache:before {
	content: "\e043";
}
.ian-yates-creative-commons:before {
	content: "\e044";
}


/* title element */
.cbp-ig-grid .cbp-ig-title {
	margin: 20px 0 10px 0;
	padding: 20px 0 0 0;
	font-size: 2em;
	position: relative;
	-webkit-transition: -webkit-transform 0.2s;
	-moz-transition: -moz-transform 0.2s;
	transition: transform 0.2s;
}

.cbp-ig-grid .cbp-ig-title:before {
	content: '';
	position: absolute;
	background: #47a3da;
	width: 160px;
	height: 6px;
	top: 0px;
	left: 50%;
	margin: -10px 0 0 -80px;
	-webkit-transition: margin-top 0.2s; /* top or translate does not seem to work in Firefox */
	-moz-transition: margin-top 0.2s;
	transition: margin-top 0.2s;
}

.cbp-ig-grid .cbp-ig-category {
	text-transform: uppercase;
	display: inline-block;
	font-size: 1em;
	letter-spacing: 1px;
	color: #fff;
	-webkit-transform: translateY(10px);
	-moz-transform: -moz-translateY(10px);
	-ms-transform: -ms-translateY(10px);
	transform: translateY(10px);
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	-webkit-transition: transform 0.3s, opacity 0.2s;
}

.cbp-ig-grid li:hover .cbp-ig-category,
.touch .cbp-ig-grid li .cbp-ig-category {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
}

/* Hover styles */

.cbp-ig-grid li > a:hover {
	background: #423445;
}

.cbp-ig-grid li > a:hover .cbp-ig-icon {
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	-ms-transform: translateY(10px);
	transform: translateY(10px);
}

.cbp-ig-grid li > a:hover .cbp-ig-icon:before,
.cbp-ig-grid li > a:hover .cbp-ig-title {
	color: #fff;
}

.cbp-ig-grid li > a:hover .cbp-ig-title {
	-webkit-transform: translateY(-30px);
	-moz-transform: translateY(-30px);
	-ms-transform: translateY(-30px);
	transform: translateY(-30px);
}

.cbp-ig-grid li > a:hover .cbp-ig-title:before {
	background: #fff;
	margin-top: 80px;
}


@media screen and (max-width: 62.75em) {
	.cbp-ig-grid li {
		width: 50%;
	}

	/* reset the grid lines */
	.cbp-ig-grid li:nth-child(-n+3){
		border-top: 1px solid #ddd;
	}

	.cbp-ig-grid li:nth-child(3n-1),
	.cbp-ig-grid li:nth-child(3n-2) {
		box-shadow: none;
	}

	.cbp-ig-grid li:nth-child(-n+2){
		border-top: none;
	}

	.cbp-ig-grid li:nth-child(2n-1) {
		box-shadow: 1px 0 0 #ddd;
	}
}

@media screen and (max-width: 41.6em) { 
	.cbp-ig-grid li {
		width: 100%;
	}

	.cbp-ig-grid li:nth-child(-n+2){
		border-top: 1px solid #ddd;
	}

	.cbp-ig-grid li:nth-child(2n-1) {
		box-shadow: none
	}

	.cbp-ig-grid li:first-child {
		border-top: none;
	}
}

@media screen and (max-width: 25em) { 
	.cbp-ig-grid {
		font-size: 80%;
	}

	.cbp-ig-grid .cbp-ig-category {
		margin-top: 20px;
	}
}

/* for the form */

input, textarea { 
    padding: 9px;
    margin-bottom: 10px;
    border: solid 1px #E5E5E5;
    outline: 0;
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    width: 250px;
    background: #FFFFFF;
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    }
 
textarea { 
    width: 400px;
    max-width: 400px;
    height: 150px;
    line-height: 150%;
    }
 
input:hover, textarea:hover,
input:focus, textarea:focus { 
    border-color: #C9C9C9; 
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
    }
 

.form label { 
    margin-left: 10px; 
    color: #999999; 
    }
 
 .form {
 	text-align: center;
 }

    button {
    width: 250px;
    padding: 9px 15px;
    margin-left: 10px;
    background: #617798;
    border: 0;
    font-size: 14px;
    color: #FFFFFF;
    }

    button:hover {
    	background: #777;
    }

    .center {
    	text-align: center
    }

    img {

    	width: 350px;
    }

    h1 {

    	font-family: 'airstreamregular';
    	font-size: 90px;
    	color: #47E0C2;
    	font-weight: 100;
    	margin-bottom: 15px;
    }
