/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
  background-color: #696969;
  font-family: 'Source Sans Pro', sans-serif;
}

p {
  font-size: 20px;
}


h1 {
  text-align: center;
}

form {
  text-align:center;
}

h2 {
  padding-left: 20px;
  font-size: 35px;
}

a.link {
  color: black;
}

a.visited {
  color: black;
  text-decoration: none;
}

img {
  width: 300px;
  border-radius: 20px;
}

label {
  font-size: 20px;
}
