<a href="/entries">View all of the entries!</a><br><br>

<h1 class="author"> Author Name: <%= @entry.author %></h1>

<img src="<%= @entry.photo_url %>"> 

<h2>Date Taken: <%= @entry.date_taken %></h2>