
<header>
  <h1><%= 

    if params[:name].nil?
      name = "Marco"
    else 
      params[:name]
    end
    
      %>'s Profile Page</h1>
  <h2>Welcome to my site!</h2>
</header>

<div id="basic-info", class="personal-info">
  <img src="http://www.claymarketing.com/images/marco-pretell-vazquez.jpg">

  
  <h2>Some things about me</h2>

  <p>Birthday: March 15th<br>
  Hometown: Chesterton, Indiana</p>
  <ul>Pets: Flash<ul>
    <li>One Dog. His name is Flash.</li>
  <p>Fav Color: Shades of Green. Sometimes Blue</p>
</div>

<div id="statement", class="personal-info">
  <pre>
    <p>Small batch aliqua eu, cornhole dreamcatcher Shoreditch photo booth actually deep v DIY freegan sed irony. Williamsburg photo booth food truck, sriracha mollit esse blog viral nulla. Pariatur McSweeney's artisan, aliqua fap vegan aliquip small batch swag farm-to-table. Banjo synth aliqua, nihil mixtape assumenda labore keytar meggings hella. Cornhole cillum messenger bag nihil, banh mi nulla Godard duis deserunt drinking vinegar sartorial proident. Food truck Pinterest seitan et cupidatat Etsy, 8-bit aesthetic church-key. Culpa Shoreditch aute viral mollit.</p>
  </pre>
</div>


<footer>This page was made by Marco</footer>
