<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Programming Bot</title>
</head>
<body>
  <%= @question %>

  <p><a href="<%= @yes %>">Yes</a></p>

  <p><a href="<%= @no %>">No</a></p>
  
</body>
</html>