<a href="/movies">View all of the movies!</a><br><br>

<h1> Movie Title: <%= @movie.title %></h1>

<h2>Year: <%= @movie.year %></h2>

<img src="<%= @movie.poster_url %>">



<h3>Update movie info here</h3>