<h1> Movies </h1>
<div>
  <button><a href="/movies/new">Add a Movie</a></button>
<br></br>
<ul>
  <% sorted_movies = @movies.sort %>
  <% sorted_movies.each do |movie| %>
  <li><img src="<%= movie.poster_url %>" /></li>
  <div>
    <button><a href='movies/<%= movie.id %>/characters'>Characters</a></button><button><a href='movies/<%= movie.id %>/trailers'> Trailer </a></button>
  </div>
  <% end %>
</ul>