<h1> Add a Movie </h1>

<form action="/movies" method="post">
  <input name='authenticity_token' type='hidden' value='<%= form_authenticity_token %>' />
  <label>
    Title: 
    <input type='text' name='title' />
  </label>

  <label>
    Year:
    <input type='integer' name='year' />
  </label>

  <label>
    Poster Url:
    <input type='text' name='poster_url'/>
  </label>
  <button class='addmovie'> Click to Add Movie </button>
</form>