  <header>
    <h1>
    Welcome To My Profile, <%= @name %>.
  </h1>
</header>

  <section>
    <h1>Basic Info</h1>
    <img src='http://kevinmcalear.com/newsite/wp-content/uploads/2013/06/image.jpg' width='300' height='300'>
    <ul>
      <li>First Name: Kevin</li>
      <li>Last Name: McAlear</li>
      <li>Birthdate: April 24th, 1987</li>
      <li>Hometown: Rossford, Ohio</li>
      <li>Pets:
        <ul>
          <li>Zuri The Dog</li>
          <li>Kya The Dog</li>
        </ul>
      </li>
    </ul>
    
  </section>
  <section>
    <h1>My Statement</h1>
    <p>
      I love ideas, traveling, technology, wisdom, inventing, understanding systems, ultimate frisbee, leadership, wine, philosophy, humor, differences, relationships, data, & designing.
    </p>
  </section>
  <nav>
    <a href='/name'>Page: Name</a>
    <a href='#'>Page: Hometown</a>
    <a href='#'>Page: Pets</a>
    <a href='#'>Page: Color</a>
  </nav>
  <footer>Made By: Kevin McAlear</footer>