  <body>
    <header>
      <h1>Who's this guy?</h1>
      <h2>That guy is <%=@name%></h2>
    </header>

      <div id='basic-info' class = 'personal-info'>
          <img src='http://cdn02.cdnwp.thefrisky.com/wp-content/uploads/2013/04/16/cute-puppies6.gif' width='300'/>
          <p>
            name: Ilias Tsangaris<br/>
            DoB: June 18 1990<br/>
            Home: NYC<br/>
            Pets:
              <ul>
                <li>Simba</li>
                <li>Brandy</li>
              </ul>
            Favorite color: Purple
          </p>
      </div>

      <div id='personal-statement' class = 'personal-info'>
        Statement: 'A very personal statment'
      </div>

      <nav>
      <a href='name'>Info Page</a>
      <a href='#'>Info Page</a>
      </nav>

    <footer>made by iT</footer>

  </body>
