  <ul class="board">
  </ul>

  <script type="text/javascript">
    var game = new Game();

    document.querySelector('ul').addEventListener('click', function(e){
      for(i = 0; i < e.target.parentElement.children.length; i++) {
        if(e.target === e.target.parentElement.children[i]) {
           game.mark(game.turn, {row: parseInt(i/3), column: i%3});
           render(); 
        };
      };
    });

    function render(){
      var board = document.querySelector("ul.board");

      board.innerHTML = "";

      for (var i = 0; i < 9; i++) {
        var li = document.createElement("li");
        li.className = game.board[parseInt(i/3)][i%3];
        board.appendChild(li);
      };

      if(game.checkWinner() !== undefined) {
        var winners = document.querySelectorAll("."+ game.checkWinner());
        for(i = 0; i < winners.length; i++){
          winners[i].classList.add("winning");
        };
      };

      // Counts X & O's wins
      var xNumWins = 0;
      var oNumWins = 0;

      // display X & O's respective win count
      $(".board").append("<table>");
      $("table").prepend("<h3>The Score</h3>");
      $("table").append("<tr>");
      $("table").append("<tr>");
      $("tr:first-child").append("<td>X: </td>").append("<td>" + xNumWins);
      $("tr:nth-child(2)").append("<td>O: </td>").append("<td>" + oNumWins);
    };

    render();
    
  </script>