<h1> Create a new movie.</h1>

<form action="/movies" method="POST">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

   <label>Title</label>
  <input type="text" name="title">

  <label>Year</label>
  <input type="integer" name="year">

  <label>Poster URL</label>
  <input type="text" name="poster_url">


  <button>Submit</button>


</form>