<!-- Move index homepage -->

<h1><a href="/movies">Welcome to MovieTrail.er </a></h1>


<%@trailers.each do |trailer| %>
  <p><%= trailer.title %> </p>
  <iframe width="560" height="315" src="//www.youtube.com/embed/<%=trailer.embed_url %>?rel=0" frameborder="0" allowfullscreen></iframe>
<%end%>
