body {
  color: black;
  text-align: center;
  background-color: grey;
}
h1 {
  text-decoration: underline;
  background-color: lightgrey;
}

#answer {
  margin-top: 10px;
  font-size: 20px;
  color: blue;
  background-color: lightgrey;
}

button {
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
}