header {
  width: 100%;
  font-size: 1.250em;

}

.contain {
font-family: sans-serif;
}

.logo_flag {
  display: inline-block;
  background-color: #9c2435;
  width: 20%;
  text-align: right;
  color: white;
}

span {
  width: 7px;
  /*display: inline-block;*/
  /*vertical-align: left;*/
  font-size: 14px;
  color: #777;
  line-height: 1px;
}

.hero {
width: 100%;
}

/*.content {
  font-family: sans-serif;
  font-size: 1.25em;
  color: #686B6A;

}*/

.about {
width: 50%;
margin: 0 auto;
}

p {
  line-height: 1.6;
  font-size: 1em;
}

.contact {

}

.email {
  background-color: #878684;
  width: 50%;
  margin-left: 25%;
  text-align: center;
  padding: 25px;
  border-radius: 10px;
  color: #E6E5E5;

}

footer {

}