<!-- Show a list of clowns with links to their profiles -->

<a href = "/clowns/new">Create a new clown</a>

<ul>
  <% @clowns.each do |clown| %>
    <a href = "clowns/<%=clown.id%>"><%= clown.name %></a><br/>
  <% end %>
</ul>