<h1>Create a clown!</h1>

<form action="/clowns" method="POST">
  <label>
    Name:
    <input type="text" name="name" />
  </label>

  <label>
    Talent:
    <input type="text" name="talent" />
  </label>
  
  <label>
    Singer?:
    <input type="checkbox" name="is_singer" />
  </label>

  <button>Incept this clown</button>
</form>