<h1>Create a clown</h1>

<form action="/clowns" method="POST">
  <label>
    name: <input type="text" name="name" />
  </label>

  <label>
    Talent <input type="text" name="talent"/>
  </label>

  <label>
    Sings? <input type="checkbox" name="sings?" />
  </label>

  <label>
    Happiness Level <input type "text" name="happiness_level"/>
  </label>

  <label>
    Creepiness Level <input type "text" name="Creepiness_level"/>
  </label>

  <br/><button>Incept this Clown!</button>

</form>
