<h1>SPACESHIP INDEX</H1>

  <p><a href="/spaceships/new">CREATE NEW SPACESHIP</a>
    <a href="/aliens/new">CREATE NEW Alien</a>
    <p>

  <% @spaceships.each do |ship| %>
  <br>
  <a href="/spaceships/<%= ship.id %>"><%= ship.name%></a>
  <% end %>