<!-- new.erb -->
<h1> So you want to be a clown...</h1>

<form action="/clowns" method="POST"> <!-- action is the path method is the verb -->
    <label>Name:
    <input type="text" name="name" />
  </label>

  <label>  
    Talent:
    <input type="text" name="talent">
  </label>

  <label>Sings?
    <input type="checkbox" name="is_singer">
    </label>
  
    <button>Clownify!</button>
</form>

