<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
   
  </head>
  <body>
    <h1>Let's Do Some Stuff</h1>
    <form>
      <input></input>
      <button>add a todo</button>
    </form>
    <div>
      <ul>
      </ul>
    </div>
  <script src="javascript/todoapp.js"></script>
  </body>
</html>