<!-- Show list of clowns with links to their profiles -->

<a href="/clowns/new">Give birth to evil! Create a new clown!</a>

<ul>
  <% @clowns.each do |clown| %>
     <li>
      <a href="/clowns/<%= clown.id %>"><%= clown.name %></a>
    </li>
  <% end %>
</ul>