<h1>This is where our doges will be.</h1>
<a href="/dogs/new">Make A New Doggie</a><br><br>
<img src="https://pbs.twimg.com/profile_images/378800000822867536/3f5a00acf72df93528b6bb7cd0a4fd0c.jpeg">

<ul>
  <% @dogs.each do |dog| %>
    <li><a href="/dogs/<%= dog.id %>"><%= dog.name %></a></li>
  <% end %>
</ul>