<iframe width="560" height="315" src="<%= @trailer.embed_url %>" frameborder="0" allowfullscreen></iframe>

<br/>

<p>"<%= @trailer.title %>"</p>

<br/><br/>

<a href="/movies/<%= @movie.id %>/trailers">Back to trailers</a>


