<h1>Welcome to the Movie Manager!</h1>
<h2>All movies:</h2>

<ul>
	<% @movies.each do |movie| %>
	<li><a href="/movies/<%=movie.id%>"><%= movie.title %></a></li>
	<% end %>
</ul>

<a href="/movies/new"><button>Add a Movie</button></a>