<body>     
  <p id = "title"> SHITTY INSTAGRAM </p>
  <p>
    <% @instagrams.each do |instagram| %>
      <div class = "photographer">Photographer: <%= instagram.photographer %></div>
      <br />
      <div class = "image"><img src ="<%= instagram.url %>" height="200" width="300" /></div>
      <br />
      <div class = "timestamp">Taken on: <%= instagram.date_taken %></div>
      <br />
    <% end %>
  </p>
</body>