<a id="restart" href="/">restart</a>
<br>
<h1><%= @answer %></h1>

<a href="/<%= @link1 %>"><button class="button green">yes</button></a>

<a href="/<%= @link2 %>"><button class="button red">no</button></a>
   
