<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Programming Bot</title>
  <link rel="stylesheet" type="text/css" href="/normalize.css">
</head>
<body bgcolor="black" text="white">
  <%= yield %>
</body>
</html>