

    <header>
      <h1><%= @name %></h1>
      <h2>Home of the Whopper</h2>
    </header>

    <div id='basic-info' class='personal-info'>
      <img src='http://i.imgur.com/0Ke6rEm.jpg' />
      
      <p>Zack Stayman,<br/>
      May 31, 1989<br/>
      Hometown: New Canaan, CT

      <p>
        Pets: 
        <ul>
          <li>Rascal,</li>
          <li>Frankie,</li>
          <li>and Cheep-cheep</li>
        </ul>
      </p>

      Color: Oranje</p>
    </div>
    
    <div id='statement' class='personal-info'>
      <p>Help me</p>
    </div>

    <nav>
      <a href='name.html'>Info Page: Name</a><br/>
      <a href="">Info Page: Hometown</a><br/>
      <a href="">Info Page: Pets</a><br/>
      <a href="">Info Page: Color</a><br/>
    </nav>
    <footer>Zack Stayman</footer>
  