
    <header>
      <h1><%= @name %>'s straight up HTML page, kids.</h1>
    </header>
    <div id="basic-info" class="personal_info">
        <img src="images/profilepic.jpg" /> 
        <p>Jenn Dodd</p>
        <p>Born: April 15th, 1987</p>
        <p>Hometown: Windsor, NY</p>
        <p>Pets:</p>
        <ul>
          <li>Kirk</li>
          <li>Spock</li>
        </ul>
        <p>Favorite color: blue</p>
    </div>
    <div id="statement" class="personal_info">
      <p>I'm a designer who loves to code!</p>
    </div>
    <nav>
      <a href="name">Info Page: Name</a><br />
      <a href="">Info Page: Homepage</a><br />
      <a href="">Info Page: Pets</a><br />
      <a href="">Info Page: Color</a><br />
    </nav>
    <footer>Made my Jenn with cautious optimism.</footer>

