<!-- Show a list of clowns with links to their profiles -->
<h1>Welcome to the Clown DB!</h1>
<button><a href="/clowns/new">Create a new clown</a></button>
<h3>View our clowns</h3>
<ul>
  <% @clowns.each do |clown| %>
    <li><a href="/clowns/<%= clown.id %>"><%= clown.name %></a></li>
  <% end %>
</ul>