<!-- Show a list of clowns with links to their profiles -->
<h1>View our clowns!</h1>
<ul>
  <% @clowns.each do |clown| %>
    <li><a href="/clowns/<%= clown.id %>"><%= clown.name %></a></li>
  <% end %>
</ul>