<!DOCTYPE html>
<html>
<head>
<title>Info Page</title>
<meta charset='utf-8' />
<link href='stylesheets/normalize.css' rel='stylesheet' typle='text/css'>
</head>

<body>
<%= yield %>
</body>


</html>
