<!DOCTYPE html>
<html>
<head>
<title>Info Page</title>
</head>
<body>
<header>Info Page</header>


<a href="/Users/julia/dev/wdi/WDI_NYC_12/w04/d03/Julia/info.html" name="Info Page">Info Page</a>
<footer>Made by Julia Lovett</footer>
</body>


</html>
